# Dependencias (muy pesado, Vercel lo instala solo)
node_modules/

# Archivos de compilación de Next.js
.next/
out/
build/
dist/

# Logs de error
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos de entorno y bases de datos locales
.env*.local
.env
sqlite
*.db

# macOS / Sistema
.DS_Store
Thumbs.db